body {
    background-color: #2874A6;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

.section-form {

    display: block;
    text-align: center;
    margin-top: 10%;

}

.form {

    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;

}

.input-name {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 350px;

}

.input-email {
    margin-left: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 351px;

}

.form-input2 {
    margin-top: 20px;
    display: block;

}

.enviar {
    margin-top: 20px;

}

.input-msg {

    block-size: 100%;
    width: 407px;
    height: 300px;

}